@{
    ViewBag.Title = "Time Recording Home Page";
}

<h2>Time Recording Home Page</h2>


<div>
    @Html.ActionLink("Record Time", "RecordTime")
</div>
<div>
    @Html.ActionLink("Search Recorded Time", "Search")
</div>
