
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "TotalHR - Your full employee management tool";
}




@*<div class="core">
        <p>
            Supported by all devices.	
            Our HR application works on all device as long as you have an internet connection.
            <br/>
            We may also set up the application on an intranet depending on the company requirements.
            <br/>
            In order to discuss your requirements, contact us by clicking here.
        </p>
        <img src="/Content/images/design/device.jpg"  alt="Supported by all devices" class="item" />
	
        <p>
            TotalHR offers you an advanced event management system through our Calendar Feature.
            This is a standard feature and can be configured by an admin user setting permissions
            for users who are allowed to create event on a company calendar. User created calendars
            are also secured in such a way that only those given access can view certain event.
            Click here to read more...
        </p>
        <img src="/Content/images/design/calendar-icon.png"  alt="Calendar of Event" class="item" />
	
    </div>*@


@section extrastyles{
    <link rel="stylesheet" href="/Content/frontend_design/plugins/rs-plugin/css/settings.css" media="screen">
	<link rel="stylesheet" href="/Content/frontend_design/plugins/owl-carousel/owl.carousel.css">
}

<!-- Slider -->

	<div class="tp-banner-container rs_fullwidth">
		<div class="tp-banner">
			<ul>
				
				<!-- SLIDE 1 -->
				<li data-transition="fade" data-masterspeed="500" data-slotamount="7" data-delay="8000" data-title="Slide 1">
					<!-- Background Image -->
				   <img src="/Content/frontend_design/images/demo/bg11.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">

				   <!-- Include bg-overlay class if you want some background overlay over the image -->
				   <!-- Recomend to include it to have a dark overlay and change the opacity (op6, op4, op8 etc) so that the content inside to be visible and readalbe (text is white) -->
				   <div class="bg-overlay op6"></div>


					<div class="tp-caption sfb stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="-75" 
						data-speed="600" data-start="600"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h3 class="title-slider-small uppercased mb10">create stunning websites with palas</h3>
					</div>

					<div class="tp-caption sfb stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="30" 
						data-speed="700" data-start="800"
						data-endspeed="500" data-end="7950"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large">All you need<br> just one template</h2>
					</div>

					<div class="tp-caption sfb stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="130" 
						data-speed="800" data-start="1000"
						data-endspeed="600" data-end="8000"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<a href="#" class="btn-slider">Purchase</a>
					</div>

					
				</li>

				<!-- SLIDE 2 -->
				<li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 2">
					<!-- Background Image -->
				   <img src="/Content/frontend_design/images/demo/bg14.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
				   <div class="bg-overlay op5"></div>

				   
					<div class="tp-caption sfl stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="-10" 
						data-speed="600" data-start="600"
						data-endspeed="400" data-end="7800"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large mb20">Customizable <br> and Easy to Use</h2>
						<div class="br-bottom"></div>
					</div>

					<div class="tp-caption sfl stb"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="110" 
						data-speed="700" data-start="800"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h4 class="title-slider-small">It could take you a few minutes to customize it!</h4>
					</div>
					
				</li>

				<!-- SLIDE 3 -->
				<li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 3">
					<!-- Background Image -->
				   <img src="/Content/frontend_design/images/demo/bg15.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
				   <div class="bg-overlay op5"></div>

				   
					<div class="tp-caption sfl stl"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="-15" 
						data-speed="700" data-start="600"
						data-endspeed="400" data-end="7800"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large">Free updates <br> Top notch Support</h2>
					</div>

					<div class="tp-caption sfl stl"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="70" 
						data-speed="700" data-start="1000"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h3 class="title-slider-small uppercased">and so much more ...</h3>
					</div>


					<div class="tp-caption sfb stl"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="120" 
						data-speed="900" data-start="1200"
						data-endspeed="600" data-end="7950"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<a href="#" class="btn-slider reversed">see features</a>
					</div>
					
				</li>


				<!-- SLIDE 4 -->
				<li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 4">
					<!-- Background Image -->
				   <img src="/Content/frontend_design/images/demo/bg17.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
				   <div class="bg-overlay op5"></div>

				   
					<div class="tp-caption sfr stb"
						data-x="right" data-hoffset="-15"
						data-y="center" data-voffset="0" 
						data-speed="900" data-start="600"
						data-endspeed="400" data-end="7980"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large text-right">Premium Plugins</h2>
					</div>

					<div class="tp-caption sfr stb"
						data-x="right" data-hoffset="-15"
						data-y="center" data-voffset="70" 
						data-speed="1000" data-start="1000"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h4 class="title-slider-small uppercased text-right">
						Bootstrap based <span class="py10"></span>
						responsive design <span class="py10"></span>
						clean code<br>
						working widgets  <span class="py10"></span>
						ajax contact form
						</h4>
					</div>

				</li>

			</ul>
		</div>
	</div> 

    <!-- END Slider-->


	<section class="section mt40">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-4 xs-box2">
					<div class="box-services-c">
						<i class="icon_mobile fa fa-style4"></i>
						<h3 class="title-small br-bottom-center">Responsive Design</h3>
						<p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi? Beatae cumque maiores.</p>
					</div>
				</div>
				<div class="col-sm-4 xs-box2">
					<div class="box-services-c">
						<i class="icon_gift_alt fa fa-style4"></i>
						<h3 class="title-small br-bottom-center">Premium plugins</h3>
						<p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi? Beatae cumque maiores.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box-services-c">
						<i class="icon_star_alt fa fa-style4"></i>
						<h3 class="title-small br-bottom-center">Free updates</h3>
						<p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi? Beatae cumque maiores.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-bg p0 section-dark data-height-fix">

		<div class="row col-p0">
			<div class="col-sm-6 hidden-xs">
				<div class="box-services-d p0 bg-img bg16">
					<div class="bg-overlay"></div>
					<div class="set-height"></div>
				</div>
			</div>
		</div>

		<div class="section-caption">
			<div class="container">
				<div class="row col-p0">
					<div class="col-sm-5 col-sm-offset-7 get-height">
						<div class="mb50 mt50">
							<h3 class="title-medium color-on-dark">About us</h3>
							<div class="br-bottom mb20 color-on-dark"></div>
							<p class="mb50 color-on-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sunt cupiditate asperiores atque consectetur reiciendis, ex voluptate! Atque distinctio, illum minus consectetur quae explicabo eveniet dolorum voluptatum excepturi autem illo, laudantium iusto itaque vero.</p>
							<h3 class="title-small color-on-dark"><i class="fa-style5 icon_heart_alt mr10"></i> Happy Clients</h3>
							<p class="mb0 color-on-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis explicabo inventore, nisi sint consectetur distinctio! Asperiores totam dolorum, odio ex?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-12 col-md-6 sm-box2">
					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_lifesaver"></i></div>
						<div class="box-right">
							<h3 class="title-small">Top notch Support <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
						</div>
					</div>

					<div class="mb50"></div>

					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_box-checked"></i></div>
						<div class="box-right">
							<h3 class="title-small">Bootstrap Based <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_lightbulb_alt"></i></div>
						<div class="box-right">
							<h3 class="title-small">SEO Ready <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
						</div>
					</div>

					<div class="mb50"></div>

					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_piechart"></i></div>
						<div class="box-right">
							<h3 class="title-small">Working widgets <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae temporibus quae!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section max_height sm_max_height">
		<div class="row col-p0">
			<div class="col-sm-12 col-md-4">
				<div class="box-services-d box-services-e green el_max_height">
					<div class="bg-overlay"></div>
					<div class="row col-p0">
						<div class="col-sm-12">
							<h3 class="title-medium title-shadow-a">Customizable <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas!</p>
							<span class="fa montserrat">1</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="box-services-d box-services-e dark el_max_height">
					<div class="bg-overlay"></div>
					<div class="row col-p0">
						<div class="col-sm-12">
							<h3 class="title-medium title-shadow-a">Easy to use <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas!</p>
							<span class="fa montserrat">2</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="box-services-d box-services-e el_max_height">
					<div class="bg-overlay"></div>
					<div class="row col-p0">
						<div class="col-sm-12">
							<h3 class="title-medium title-shadow-a">Clean code <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas!</p>
							<span class="fa montserrat">3</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="container">
			<div class="row mb30">
				<div class="col-sm-6">
					<h3 class="title-medium br-bottom">Our Projects</h3>
				</div>
				<div class="col-sm-6">
					<div class="clearfix">
						<div class="pull-right xs-pull-left">
							<nav class="portfolio-filter pf2">
								<ul>
									<li class="xs-pl0"><a href="#" data-filter="*" class="active"><i class="fa fa-bars"></i></a></li>
									<li><a href="#" data-filter=".above_">Above</a></li>
									<li><span> / </span></li>
									<li><a href="#" data-filter=".beyond_">Beyond</a></li>
									<li><span> / </span></li>
									<li class="pr0"><a href="#" data-filter=".nowhere_" class="pr0">Nowhere</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div id="portfolio-isotope">
						<div class="row col-p5">
							<div class="portfolio portfolio-animation-off">
								<div class="col-sm-6 col-md-4 el above_ beyond_">
									<div class="portfolio-el view">
		                            	<img src="/Content/frontend_design/images/demo/p01.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Above and beyond</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el above_ nowhere_">
			                    	<div class="portfolio-el view">
		                            	<img src="/Content/frontend_design/images/demo/p11.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Imagine dragons</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el beyond_ nowhere_">
			                    	<div class="portfolio-el view">
		                            	<img src="/Content/frontend_design/images/demo/p03.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Upside Down</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el above_">
			                        <div class="portfolio-el view">
		                            	<img src="/Content/frontend_design/images/demo/p04.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Nowhere</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el beyond_">
			                        <div class="portfolio-el view">
		                            	<img src="/Content/frontend_design/images/demo/p05.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Begin again</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el nowhere_">
			                        <div class="portfolio-el view">
		                            	<img src="/Content/frontend_design/images/demo/p06.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Up in the air</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
							</div> <!-- END portfolio -->
						</div>
					</div> <!-- END Portfolio Isotope -->
				</div>
			</div>
		</div>
	</section>


	<section class="section-bg section-large section-dark mt20 mb0">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h2 class="title-medium text-center color-on-dark mb20 mt20 title-shadow-a">The team behind all this</h2>
					<div class="br-bottom-center"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row col-p0">
			<div class="col-sm-12">
				<div class="team-section team-section-2 team-section-fullwidth portfolio-animation-off">
					<div class="owl-carousel sm-owl-cursor owl-columns5">
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team1.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">John Doe</a></h3>
		                    			<p class="text">web designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team2.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Mark Doe</a></h3>
		                    			<p class="text">web developer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team3.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Alex Doe</a></h3>
		                    			<p class="text">manager</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team4.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Barry Doe</a></h3>
		                    			<p class="text">graphic designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team5.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Chris Doe</a></h3>
		                    			<p class="text">SEO Analytic</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team6.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Joe Doe</a></h3>
		                    			<p class="text">web designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="/Content/frontend_design/images/demo/team1.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Justin Doe</a></h3>
		                    			<p class="text">front-end designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
					</div>
				</div> <!-- END portfolio -->
			</div>
		</div>
	</section>

	<section class="section-bg mt0 section-large mb0 section-dark page-clients">
		<div class="container">
			<div class="row mb50">
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Envato"><img src="/Content/frontend_design/images/demo/client01a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Woocommerce"><img src="/Content/frontend_design/images/demo/client02a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Shopify"><img src="/Content/frontend_design/images/demo/client03a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#" data-toggle="tooltip" title="Magento"><img src="/Content/frontend_design/images/demo/client04a.png" alt="client"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Drupal"><img src="/Content/frontend_design/images/demo/client05a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Joomla"><img src="/Content/frontend_design/images/demo/client06a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="WordPress"><img src="/Content/frontend_design/images/demo/client07a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#" data-toggle="tooltip" title="jQuery"><img src="/Content/frontend_design/images/demo/client08a.png" alt="client"></a>
				</div>
			</div>
		</div>
	</section>

	<section class="section p0 mb50 max_height xs_max_height">
		<div class="row col-p0">
			<div class="col-sm-4 col-sm-push-8 xs-box3">
				<div class="box-services-d box-services-e dark el_max_height xs-pt0">
					<div class="row col-p0">
						<div class="col-sm-12">
							<div class="br-bottom mt0 mb20"></div>
							<h3 class="title-medium small title-shadow-a">Testimonials</h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe!</p>
							<i class="fa icon_quotations"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-pull-4 xs-box3">
				<div class="section-testimonials mt70 el_max_height">
					<div class="owl-carousel owl-portfolio">
						<div class="owl-el">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quidem nesciunt totam? Quia, facere nobis fuga. Voluptas, sit maxime accusantium ipsum dolor.</p>
								<footer>
									<h5>John Doe <span> ThemeForest </span></h5>
								</footer>
							</blockquote>
						</div>
						<div class="owl-el">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quidem nesciunt totam? Quia, facere nobis fuga. Voluptas, sit maxime accusantium ipsum dolor.</p>
								<footer>
									<h5>Mark Doe <span> AudioJungle </span></h5>
								</footer>
							</blockquote>
						</div>
						<div class="owl-el">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quidem nesciunt totam? Quia, facere nobis fuga. Voluptas, sit maxime accusantium ipsum dolor.</p>
								<footer>
									<h5>Alex Doe <span> CodeCanyon </span></h5>
								</footer>
							</blockquote>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</section>


	<section class="section mb30">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-12 col-md-4">
					<div class="box-services-d box-services-e">
						<div class="bg-overlay"></div>
						<div class="row col-p0 p0">
							<div class="col-sm-12 p0">
								<h3 class="title-medium title-shadow-a">Top notch Support</h3>
								<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit cum recusandae!</p>
								<i class="fa icon_lifesaver"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="box-services-a">
						<h3 class="title-uppercased mt50 mb10"><i class="fa icon_cart_alt fa-style5"></i> Ecommerce <a href="#" class="link-read-more">read more</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis!</p>
						<div class="br-bottom"></div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="box-services-a">
						<h3 class="title-uppercased mt50 mb10"><i class="fa icon_shield fa-style5"></i> Reliable <a href="#" class="link-read-more">read more</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis!</p>
						<div class="br-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</section>


	