@using Authentication.Implementation;

@{
    ViewBag.Title = "Index";

    var config = System.Configuration.ConfigurationManager.ConnectionStrings["TotalHREntities"].ToString();
}

<h2>Index </h2>

@*<h1>UserId: @userid @config</h1>*@
<p>

    Welcome to TotalHR
</p>

<p>
    <a href="/Account/register">Click here to register</a>

    <br />

    <a href="/Account/Login">Click here to Login</a>
    <br />
    
    <a href="/Account/ExpressLogAdmin">Log Admin</a>
    
    <br/>
    <a href="/calendar/createevent/1">Event cal 1 create</a>
    @*    <br />

    <a href="/calendar/DayView/2014/06/03">Calendar Day View</a>

     <br />

    <a href="/calendar/GetWeekView/2014/06/03">Calendar Week View</a>

     <br />

    <a href="/calendar/GetCalendarMonth/2014/07/1">Calendar Month View</a>*@
    <br/>
    <br/>
    @Html.ActionLink("Time Recording Home Page","Index","TimeRecording")
    
</p>

@*Password:

@CM.Security.Decrypt("IE9S2hzVZEuv+v1D0Kcg+22xSXUb9fx40uIMnCtNn80=")*@
