@using Authentication.Implementation;

@{
    ViewBag.Title = "Index";
  
}

<h2>Index</h2>

@*<h1>UserId: @userid</h1>*@
<p>

    Welcome to TotalHR
</p>

<p>
    <a href="/Account/register">Click here to register</a>

    <br />

    <a href="/Account/Login">Click here to Login</a>

@*    <br />

    <a href="/calendar/DayView/2014/06/03">Calendar Day View</a>

     <br />

    <a href="/calendar/WeekView/2014/06/03">Calendar Week View</a>

     <br />

    <a href="/calendar/GetCalendarMonthViewByUser/2014/07">Calendar Month View</a>*@
</p>

@*Password:

@CM.Security.Decrypt("IE9S2hzVZEuv+v1D0Kcg+22xSXUb9fx40uIMnCtNn80=")*@
