body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0;padding:0;
}

#overhead{height:40px;width:100%;float:left;background-color:beige;}
#head{float:left;color:white;height:300px;width:100%;}
#overhead .title{float:left;margin-top:5px;cursor: pointer;font-weight:bold;font-size:20pt;color:#4488dd;width:800px;}
#overhead .accountbox{float:right;text-align:right;width:200px;height:40px;}
#overhead .accountbox a{display:block;float:right;text-decoration:none;color:white;background-color:#aaa;padding:0 5px 3px;margin:10px 5px 0;}
    #overhead .accountbox a.logout {
        background-color:red;
    }

    #overhead .accountbox .profile {
        background: transparent url('/Content/images/design/male-icon.png') left center no-repeat;
        padding-left:22px;  display:block;float:right;margin:11px 5px 0 10px;color:blue;cursor:pointer;
    }
#head p.statement{float:left;color:white;font-size:30px;font-weight:bold;width:500px;height:270px;}
#head .core, #main .core, #overhead .core{margin:auto;width:1000px;}
#head .core .imagecarousel{float:right;}
    #main .core h1 {
        font-size:16pt;font-weight:bold;background-color:#6ea778;color:white;padding:5px 0 10px 10px;
        -webkit-box-shadow: -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
        -moz-box-shadow:    -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
        box-shadow:         -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
    }

#main .core .container{
   float:left;width:100%;min-height:700px;padding-right:5px;
   -webkit-box-shadow: -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
    -moz-box-shadow:    -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
    box-shadow:         -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
}

    #main .core .shadowed {
        -webkit-box-shadow: -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
        -moz-box-shadow: -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
        box-shadow: -7px -1px 6px 0px rgba(50, 74, 71, 0.75);
    }

#overhead .contextswitch {
     color: red;
     background: transparent url('/Content/images/design/switch-context.png') left center no-repeat;
     padding: 10px 0 10px 28px;
     float:left;
     font-size:8pt;
     margin-left: -140px;
 } 

.btn {
        border: none;
		border-radius: 3px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.19);
		font-family: 'ProximaNova-SemiBold', arial, sans-serif;
        font-weight: normal;
		text-decoration: none;
		text-align: center;
    }

	.orangeb {
		background: #F67E33;
		color: #ffffff !important;
        padding: 9px 19px;
		padding-top: 11px;
		font-size: 20px;
        width: 216px;
	}

    .blueb {
		background: #2672ec;
		color: #ffffff !important;
		font-size: 10pt;
        padding: 5px 10px;
	}

	#main{float:left;width:100%;min-height:400px;}
	#main .core p{float:left;font-size:18pt;color:#777;width:60%;}
	#main .core img.item{ float:left;}

    #main .core .loginbox{background-color: #2672ec;margin:30px auto;text-align:center;width:400px;height:400px;padding:1px;}
	#main .core .loginbox .form{width:400px;height:300px;background-color:white;}
	#main .core .loginbox .links a{color:white;text-decoration:none;}

    #footer{ float: left;text-align: center;width: 100%;height: 50px;background-color: #aaaaaa;margin: 0; position: fixed;bottom: 0;}
     #footer ul{margin: 0 auto;padding: 0;list-style: none;}
      #footer ul li{ float: left;margin: 5px;}
    #footer ul li a{ text-decoration: none;color: #777777;font-size: 9pt;}

.clickable{ cursor: pointer;}

#main form{ color: #777777;}
#main form .line span{ text-align: left;}
#main form h1 {
    font-weight: normal;font-size: 16pt;margin: 20px 0 10px;color: #4682b4;   
}

 #main form input[type='text'], #main form input[type='password'], #main form textarea {
    font-weight: bold !important;
    font-family: Century Gothic,Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #4e4e4e;
    font: 12px Verdana,Arial,Helvetica,sans-serif !important;
    padding: 0.6em 0.6em 0.6em 0.5em;
    border: 1px solid #cccccc !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
     margin: 5px 0 0;
}

#main form input.invalid, #main form textarea.invalid{ border: 1px solid red;color: red;background-color: #ffc0cb;}

 #main form .req{ color:red;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/************************************ my own styles ***************************/


.error, .req
{
    color: red;
}

.req {
    margin-top:10px;
}
div.formdiv
{
    font-size:9pt;
    color:#777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float:left;
}

.midform {
    width:600px;
}

.smallform {
    width: 400px;
}

    div.formdiv input, div.formdiv select
    {
        font-size:9pt;
    }    

div.line
{
    width:100%;
    text-align:center;
    float:left;
}
    div.line span, div.line span.terms
    {
        display:block;
        text-align: left;
        padding: 2px;
        float:left;
    }

    div.line span.terms {
        color:red;
        width:350px;    
    }
    div.display-label
    {
        font-weight:bold;
    }
    div.display-field
    {
        font-size:14pt;
    }

    div.error-message
    {
        color:red;
        font-size:16pt;
    }
     div.line label
    {
        display:block;
        text-align: right;
        width:30%;
        padding: 8px 5px 0;
        float:left;
        font-weight:bold;
    }
    div.line hr
    {
        width:60%;
    }
    div.line .block {
        border-bottom: 1px solid grey;
    }
    div.line .block span{
        display:block;
        width:100%;
    }

        div.line label.short
        {
            width: 100px;
        }

        div.line label .req
        {
            float:right;margin:3px;
        }

 #main input[type='text'], #main input[type='password'], #main textarea {
    font-weight: bold !important;
    font-family: Century Gothic,Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #4e4e4e;
    font: 12px Verdana,Arial,Helvetica,sans-serif !important;
    padding: 0.6em 0.6em 0.6em 0.5em;
    border: 1px solid #cccccc !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
}

#main input[type='text'], #main input[type='password'] {
     height: 15px;
}

.advancedsearch input[type='text'], .quicksearch input[type='text'] {
    font-weight: bold !important;   
    height: 20px;
    font-family: Century Gothic,Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #4e4e4e;
    font: 12px Verdana,Arial,Helvetica,sans-serif !important;
    padding: 0.6em 0.6em 0.6em 0.5em;
    border: 1px solid #cccccc !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
}


#dvAccount {
    text-align:left;
    float:left;
}

    #dvAccount h4 {
        width:100%;        
        margin:50px auto;
        font-size:13pt;
        text-align:center;
    }
    #dvAccount .option {
        width:170px;
        height:120px;
        border:1px solid grey;        
        margin:10px;
        cursor:pointer;
        float:left;
        color:white;
        background-color:#1e459a;
        text-align:center;
    }

    #dvAccount .cont {
        width:100%;background-color:beige;
        float:left;
    }

#dvPopup {    
    width: 700px;
    height: 650px;
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 10000;
    color: grey;
}

#ipopup {
    width:100%;
    min-height:100%;
    border:none;
}

.actionlink, .passdisplay {
    color: blue;
    cursor: pointer;
    font-weight:bold;
    margin-top:8px;
}

.passdisplay {
    color:white;
    background-color:brown;
    padding:5px 10px;
}

.savesuccess {
    box-sizing: border-box;    
    line-height: 32px;
    width:600px;
    padding: 5px 15px;
    background-color: #198fff;
    color: #fff;
    -webkit-box-shadow: 0 2px #063a93;
    box-shadow: 0 2px #063a93;
    border-radius: 3px;
    font-weight: 400;
    border: 2px solid transparent;
    margin:10px 0 15px;
}

.btn {
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.btn.default {
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    background-color: #198fff;
    color: #fff;
    -webkit-box-shadow: 0 2px #063a93;
    box-shadow: 0 2px #063a93;
    border-radius: 3px;
    font-weight: 400;
    border: 2px solid transparent;
}



div.popupedit {
    float: left;width: 240px;position: relative;left:200px;z-index: 10000;background-color:#f9f9f9;border: 1px solid grey;padding:5px 0 0 5px;
    overflow:scroll;min-height:200px;
}

div.popupedit .spclose {
    background:transparent url('/content/images/close-icon.png') center center no-repeat;float:right;display:block;width:16px;height:16px;
    cursor:pointer;position:relative;top:-3px;right:2px;
    }

input[type="button"].btnsmall, input[type="submit"].btnsmall {
   
    padding: 0 5px;
    background-color: #198fff;
    color: #fff;
    -webkit-box-shadow: 0 2px #063a93;
    box-shadow: 0 2px #063a93;
    border-radius: 3px;
    font-weight: 100;
    border: 2px solid transparent;

}
input[type='button'] {
    cursor: pointer;
}

table.tab .private {
    color: red;
}

table.tab .company {
    color: green;
}

table.tab .department {
    color: #be4646;
}

table.tab .user {
    color: #198fff;
}

div.wide {
    float: left;
    clear:both;
    width: 98%;
    margin: 10px 0;
    text-align: left;
    padding: 1%;
}
.line input[type="text"].datetype {
    width:130px;background:transparent url('/content/images/cal.gif') right center no-repeat;padding-right:16px;
}

.formwide {
     float:left;
     width:98%;
     padding:1%;
     text-align:left;
}

    .formwide .line {
         float:left;
         width:100%;
         text-align:left;
    }
        .formwide .line label {
            width:auto;
        }

#overlay-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9998;
    opacity: 0.5;
    background: rgb(0, 0, 0);
    width: 100% !important;
    min-height:800px;
}

table.tabsimple {
    border-collapse:collapse;
}

    table.tabsimple tr td, table.tabsimple tr th {
        padding:3px;
    }


 .contextswitch {
     color: red;
     background: transparent url('/Content/images/design/switch-context.png') left center no-repeat;
     padding: 10px 0 10px 28px;
 }


