@{
    Layout = "~/Views/Shared/_BootstrapPopupLayout.cshtml";
    ViewBag.Title = "Profile Picture Upload";
}

@section pagetitle
{
    Picture Profile Upload
}
<div class="container-fluid">
           
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="span12">
                  <div class="widget">
                        <div class="widget-title">
                           <h4><i class="icon-globe"></i>File Dropzone Layout</h4>
                           <span class="tools">
                          
                           </span>                    
                        </div>
                      <div class="widget-body form">
                           <div style="width: 98%;height: 90%;margin:2%;background:beige;">
                              <form action="/File/UploadProfilePicture/@((int)totalhr.Shared.Variables.FileType.ProfilePicture)" class="dropzone clickable" id="my-awesome-dropzone" style="background-color: beige;height:400px;" >
                              
                                  <div class="default message">
                                      <span>Drop files here or click to upload</span>
                                  </div>

                              </form>
                            </div>
                      </div>
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
@section scripts
{
    <script type="text/javascript" src="~/Scripts/Site/assets/dropzone/dropzone.js"></script>
}
