
<li class="dropdown" id="header_inbox_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-envelope-alt"></i>
        <span class="badge badge-important">5</span>
    </a>
     
    <ul class="dropdown-menu extended inbox">
        <li>
            <p>You have 5 new messages</p>
        </li>
        <li>
            <a href="#">
                <span class="photo"><img src="/Content/img/avatar-mini.png" alt="avatar" /></span>
                <span class="subject">
                    <span class="from">Dulal Khan</span>
                    <span class="time">Just now</span>
                </span>
                <span class="message">
                    Hello, this is an example messages please check
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="photo"><img src="/Content/img/avatar-mini.png" alt="avatar" /></span>
                <span class="subject">
                    <span class="from">Rafiqul Islam</span>
                    <span class="time">10 mins</span>
                </span>
                <span class="message">
                    Hi, Mosaddek Bhai how are you ?
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="photo"><img src="/Content/img/avatar-mini.png" alt="avatar" /></span>
                <span class="subject">
                    <span class="from">Sumon Ahmed</span>
                    <span class="time">3 hrs</span>
                </span>
                <span class="message">
                    This is awesome dashboard templates
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="photo"><img src="/Content/img/avatar-mini.png" alt="avatar" /></span>
                <span class="subject">
                    <span class="from">Dulal Khan</span>
                    <span class="time">Just now</span>
                </span>
                <span class="message">
                    Hello, this is an example messages please check
                </span>
            </a>
        </li>
        <li>
            <a href="#">See all messages</a>
        </li>
    </ul>
    
</li>