@using totalhr.Resources;

@{
    ViewBag.Title = "AccessDenied";
    string ErrorMessage = Request.QueryString["ModelError"];
}

<h1>@Error.Error_Access_Denied</h1>

<p class="error">
    @ErrorMessage
    @ViewData["ModelError"]
</p>