@model totalhr.Shared.Models.CalendarEventInfo
@using totalhr.Resources
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = "EventEdit";
}

@section extrastyles{
    @Styles.Render("~/Content/css/BeatPicker.min.css")
}

@{
    Html.RenderPartial("_FormScripts"); 
}


<div id="main">
    <div class="content">
       <h2>@((Model.EventId > 0)? Common.Page_TT_Calendar_Event_Edit : Common.Page_TT_Calendar_Event_Add)</h2>

        <p>Calendar Name: @Model.CalendarName</p>

        @{
            Html.RenderPartial("_CalendarEventEdit");
        }
        
    </div>
</div>



