@model Calendar.Models.CalendarHTML

@{
    ViewBag.Title = "";
    
}

@if (ViewBag.CalendarName != null){
    <h2>@Html.Raw(string.Format(totalhr.Resources.Calendar.V_Calendar_View_For, ViewBag.CalendarName))</h2>
}else{
    <h2>@totalhr.Resources.Calendar.V_Calendar_View</h2>   
}         

@{
    Html.RenderPartial("_Calendar");
}

@section scripts{

     @Scripts.Render("~/Scripts/Site/calendar.js")

      <script type="text/javascript">
          @Html.Raw(Model.Javascript)
      </script>

     
}
