body{
	margin:0;padding:0;
	}
	
/* css for screens  width = 1680;height=1050 */
	
.tophead{
	margin:0;width:100%;height:100px;background-color:grey;
	}
	
.tophead #menu{ 
	width:55%;height:100%;float:right;padding:0;
	}
	
.tophead #logo{
	width:20%;height:100%;float:left;
	}
	
.tophead #menu ul{
	width:98%;float:left;height:100%;list-style:none;margin:0 1% 0 0;padding:0;
	}

.tophead #menu ul li{
	width:20%;float:right;height:100%;
	}

.tophead #menu ul li a{
	width:95%;height:100%;display:block;text-decoration:none;text-align:center;background:beige;
	}


/* Media Queries */
@media screen and (max-width: 480px) {


}