
 <li class="dropdown" id="header_notification_bar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

        <i class="icon-bell-alt"></i>
        <span class="badge badge-warning">7</span>
    </a>
     <ul class="dropdown-menu extended notification">
         <li>
             <p>You have 7 new notifications</p>
         </li>
         <li>
             <a href="#">
                 <span class="label label-important"><i class="icon-bolt"></i></span>
                 Server #3 overloaded.
                 <span class="small italic">34 mins</span>
             </a>
         </li>
         <li>
             <a href="#">
                 <span class="label label-warning"><i class="icon-bell"></i></span>
                 Server #10 not respoding.
                 <span class="small italic">1 Hours</span>
             </a>
         </li>
         <li>
             <a href="#">
                 <span class="label label-important"><i class="icon-bolt"></i></span>
                 Database overloaded 24%.
                 <span class="small italic">4 hrs</span>
             </a>
         </li>
         <li>
             <a href="#">
                 <span class="label label-success"><i class="icon-plus"></i></span>
                 New user registered.
                 <span class="small italic">Just now</span>
             </a>
         </li>
         <li>
             <a href="#">
                 <span class="label label-info"><i class="icon-bullhorn"></i></span>
                 Application error.
                 <span class="small italic">10 mins</span>
             </a>
         </li>
         <li>
             <a href="#">See all notifications</a>
         </li>
     </ul>
</li>