@using totalhr.Resources;

@{
    ViewBag.Title = Common.Page_TT_Header_Forgot_Password;
}

<div id="main">
    <div class="content">
        <h1>@Common.Page_TT_ForgotPassword</h1>

 @using (Html.BeginRouteForm("Default", new { Controller = "Account", action = "PasswordRemind" }))
    {
     
     @Html.ValidationSummary()

    <div class="login">
        <div class="wrapper">
            <div class="line">&nbsp;</div>
            <div class="line">
                <label class="short">@FormMessages.Label_Email</label>
                <span>@Html.TextBox("Email", "", new {size = "35", maxlength ="100" })</span>
                <span class="req">*</span>
            </div>             
             <div class="line">
                <label class="short">&nbsp;</label>
                <span><input type="submit" value="Save" /></span>
            </div>

         </div>
    </div>
    }
   
    </div>
</div>